body {
  margin: 0;
  overflow: hidden;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  z-index: 999;
}

.service-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.service-slide img {
  width: 200px;
  height: 200px;
}

.center-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-flex-100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.row-spaced {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-carousel {
  width: 100%;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  border-radius: 30px;
}

.services .service p {
  white-space: pre;
}

.services .service img {
  margin-right: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.bottom-navigation {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px 30px 0 0;
  -webkit-box-shadow: 0 -5px 4px rgba(0, 0, 0, 0.062);
          box-shadow: 0 -5px 4px rgba(0, 0, 0, 0.062);
  z-index: 9999;
  overflow: hidden;
}

.auto-width {
  width: auto !important;
}

.Carousel-indicator-11 {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  color: #f9dce0 !important;
}

.Carousel-active-12 {
  color: #d92e45 !important;
}

.sm {
  font-size: 14px;
}

.md {
  font-size: 22px;
}

.lg {
  font-size: 32px;
}

.profile-screen .name {
  font-weight: 800;
  font-size: 1.5rem;
}

.themed-list {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.themed-list li.Mui-selected,
.themed-list li.Mui-selected .material-icons {
  background: none !important;
  color: #d92e45;
}

.themed-list li.Mui-selected .list,
.themed-list li.Mui-selected .material-icons .list {
  background: #f9dce0;
}

.themed-list li:active .list button span {
  color: #d92e45;
}

.themed-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.themed-list .list button {
  padding: 5px 20px;
}

.themed-list .list button span {
  font-weight: 500;
}

.themed-list .list button .MuiTouchRipple-child {
  background: #d92e45;
}

.icon-tabs button {
  background: #f9dce0;
  border-radius: 20px;
  margin: 0 10px;
}

.icon-tabs button.Mui-selected {
  border: 2px solid;
}

.icon-tabs .MuiTabs-indicator {
  display: none;
}

.inherit-all {
  width: inherit;
  height: inherit;
}

.menu-item-wrapper {
  outline: none;
}

.menu-item-wrapper:first-of-type > div {
  margin-left: 50px;
}

.merchant-banner {
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
}

.merchant-banner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.merchant-banner:not(.no-image)::after {
  -webkit-transform: scaleY(2);
          transform: scaleY(2);
  background: #000;
}

.merchant-banner.no-image::after {
  background: #f9dce0 url("/static/images/logo/horizontal.png") no-repeat center;
  background-size: 200px;
  -webkit-animation: height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1 normal forwards;
          animation: height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1 normal forwards;
  height: 100vh;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

@-webkit-keyframes height {
  from {
    height: 100vh;
  }
  to {
    height: 100%;
  }
}

@keyframes height {
  from {
    height: 100vh;
  }
  to {
    height: 100%;
  }
}

.merchant-content-header {
  margin-top: 175px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.merchant-content-view,
.merchant-content-header {
  background: #fff;
}

.merchant-content-view {
  margin-top: -50px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.merchant-content-view > div:nth-of-type(4) {
  overflow-x: hidden;
  height: 100%;
  overflow: auto;
}

.merchant-logo {
  position: absolute;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  width: 135px;
}

.fixed {
  position: fixed;
  z-index: 3;
}

.fixed.left {
  left: 14px;
  top: 14px;
}

.fixed.right {
  right: 14px;
  top: 14px;
}

.logo-container {
  background: linear-gradient(30deg, #d92e45, #f9dce0);
}

.MuiSkeleton-text {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.floating-cart-icon {
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 70px;
  height: 70px;
}

.floating-cart-icon,
.floating-cart-icon button {
  border-radius: 50% !important;
  background: #f9dce0 !important;
  color: #d92e45 !important;
}

.floating-cart-icon button {
  width: inherit;
  height: inherit;
  -webkit-box-shadow: 0 8px 11px rgba(121, 121, 121, 0.14);
          box-shadow: 0 8px 11px rgba(121, 121, 121, 0.14);
}

.swipeable-products > div > div {
  padding-bottom: 40px;
}

.address-detail {
  padding: 14px;
  border: 2px dashed transparent;
  background: rgba(0, 0, 0, 0.048);
  border-radius: 10px;
  margin-top: 13px;
}

.address-detail.default {
  background: #d92e45;
}

.address-detail.default p,
.address-detail.default button,
.address-detail.default span {
  color: #fff;
}

.address-detail.default div > span {
  margin-right: 14px;
}

.address-detail.Mui-selected {
  background: #f9dce0 !important;
  border-color: #d92e45;
}

.address-detail.Mui-selected p {
  font-weight: 600;
}

.address-detail,
.address-detail > div {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */